<style>
  h1 {
    text-align: center;
  }
  th {
    text-align: center;
  }
  td {
    text-align: center;
  }
</style>

<h1> Markets </h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>State</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @facade.market_index.each do |market| %>
      <div id="market<%= market.market_id %>">
        <tr>
          <td><%= market.name %></td>
          <td><%= market.city %></td>
          <td><%= market.state %></td>
          <td><%= button_to "More Info", market_path(market.market_id), method: :get, data: { turbo: false } %></td>
        </tr>
      </div>
    <% end %>
  </tbody>
</table>